<span class="meta last-updated">
	{%- if article.locale_modified and article.modified -%}
		Updated on
		<time datetime="{{- article.modified.isoformat() -}}"
		      title="{{- article.modified.isoformat() -}}">
			{{- article.locale_modified -}}
		</time>
	{%- elif article.modified -%}
		Updated on
		<time datetime="{{- article.modified.isoformat() -}}"
			  title="{{- article.modified.isoformat() -}}">
			{{- article.modified | strftime('%Y-%m-%d') -}}
		</time>
	{%- endif -%}

	{%- if article.modified and article.date -%},{%- endif -%}

	{% if article.locale_date and article.date %}
		Published on
		<time pubdate="pubdate" datetime="{{- article.date.isoformat() -}}"
		      title="{{- article.date.isoformat() -}}">
			{{- article.locale_date -}}
		</time>
	{% elif article.date %}
		Published on
		<time pubdate="pubdate" datetime="{{- article.date.isoformat() -}}"
		      title="{{- article.date.isoformat() -}}">
			{{- article.date | strftime('%Y-%m-%d') -}}
		</time>
	{% endif %}
</span>
