    <h2 class="center-align">Contact Me</h2>
    <p>{{CONTACT_ME_DESCRIPTION}}</p>

    {% if SOCIAL %}

    {% if SOCIAL['Email'] %}
    <p class="center-align"><a href="mailto:{{ SOCIAL['Email'] }}">{{ SOCIAL['Email'] }}</a></p>
    {% endif %}
    <div class="pure-u-1-8"></div>
    <div class="pure-u-3-4 center-align">
        {% if SOCIAL['Twitter'] %}
                
            <a href="{{ SOCIAL['Twitter'] }}" class="btn social-btn waves-effect waves-light">
                <i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span>
            </a>
        {% endif %}
        {% if SOCIAL['Github'] %}
            <a href="{{ SOCIAL['Github'] }}" class="btn social-btn waves-effect waves-light">
                <i class="fa fa-github fa-fw"></i><span class="network-name">Github</span>
            </a>
        {% endif %}
        {% if SOCIAL['Mozillian'] %}
            <a href="{{ SOCIAL['Mozillian'] }}" class="btn social-btn waves-effect waves-light">
                <i class="fa fa-firefox fa-fw"></i><span class="network-name">Mozillian</span>
            </a>
        {% endif %}
        {% if SOCIAL['Google+'] %}
            <a href="{{ SOCIAL['Google+'] }}" class="btn social-btn waves-effect waves-light">
                <i class="fa fa-google-plus fa-fw"></i><span class="network-name">Google+</span>
            </a>
        {% endif %}
    </div>
    {% endif %}