    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Me</h2>
            <p>{{CONTACT_ME_DESCRIPTION}}</p>

            {% if SOCIAL %}

            {% if SOCIAL['Email'] %}
            <p><a href="mailto:{{ SOCIAL['Email'] }}">{{ SOCIAL['Email'] }}</a></p>
            {% endif %}
            <ul class="list-inline banner-social-buttons">
                {% if SOCIAL['Twitter'] %}
                <li>
                    <a href="{{ SOCIAL['Twitter'] }}" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                {% endif %}
                {% if SOCIAL['Github'] %}
                <li>
                    <a href="{{ SOCIAL['Github'] }}" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                {% endif %}
                {% if SOCIAL['Google+'] %}
                <li>
                    <a href="{{ SOCIAL['Google+'] }}" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>

