.fixed-action-btn.fab {
    bottom: 7.5%;
    right: 3.95%;
    text-align: center;
}

.fixed-action-btn.scrolled a:hover {
    background-color: #092AF6;
}

.fixed-action-btn ul {
    list-style-type: none;
    padding: 0;
}

.fixed-action-btn a {
    -webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
}

@media(min-width:992px){
    .fixed-action-btn {
        /*margin-left:-12.5%;*/
    }
}

@media(max-width:767px) {
    .fixed-action-btn {
        /*top: 2em;*/
    }
}

@media(max-width:767px) {

    header .fixed-action-btn {
        position: fixed;
        top: 2em;
    }
d
}