div.jqcloud.tagcloud span.w1 { font-size: 100%; }
div.jqcloud.tagcloud span.w2 { font-size: 130%; }
div.jqcloud.tagcloud span.w3 { font-size: 160%; }
div.jqcloud.tagcloud span.w4 { font-size: 190%; }
div.jqcloud.tagcloud span.w5 { font-size: 220%; }
div.jqcloud.tagcloud span.w6 { font-size: 250%; }
div.jqcloud.tagcloud span.w7 { font-size: 280%; }
div.jqcloud.tagcloud span.w8 { font-size: 310%; }
div.jqcloud.tagcloud span.w9 { font-size: 340%; }
div.jqcloud.tagcloud span.w10 { font-size: 370%; }
div.jqcloud.tagcloud span.w11 { font-size: 400%; }
div.jqcloud.tagcloud span.w12 { font-size: 430%; }
div.jqcloud.tagcloud span.w13 { font-size: 460%; }
div.jqcloud.tagcloud span.w14 { font-size: 490%; }
div.jqcloud.tagcloud span.w15 { font-size: 520%; }
div.jqcloud.tagcloud span.w16 { font-size: 550%; }
div.jqcloud.tagcloud span.w17 { font-size: 580%; }
div.jqcloud.tagcloud span.w18 { font-size: 610%; }
div.jqcloud.tagcloud span.w19 { font-size: 640%; }
div.jqcloud.tagcloud span.w20 { font-size: 670%; }

div.jqcloud.tagcloud span.w1 { color: #5FC3E4; }
div.jqcloud.tagcloud span.w2 { color: #65BDDF; }
div.jqcloud.tagcloud span.w3 { color: #6CB8DA; }
div.jqcloud.tagcloud span.w4 { color: #73B3D6; }
div.jqcloud.tagcloud span.w5 { color: #79AED1; }
div.jqcloud.tagcloud span.w6 { color: #80A9CC; }
div.jqcloud.tagcloud span.w7 { color: #87A4C8; }
div.jqcloud.tagcloud span.w8 { color: #8D9FC3; }
div.jqcloud.tagcloud span.w9 { color: #949ABE; }
div.jqcloud.tagcloud span.w10 { color: #9B95BA; }
div.jqcloud.tagcloud span.w11 { color: #A290B5; }
div.jqcloud.tagcloud span.w12 { color: #A88AB0; }
div.jqcloud.tagcloud span.w13 { color: #AF85AC; }
div.jqcloud.tagcloud span.w14 { color: #B680A7; }
div.jqcloud.tagcloud span.w15 { color: #BC7BA2; }
div.jqcloud.tagcloud span.w16 { color: #C3769E; }
div.jqcloud.tagcloud span.w17 { color: #CA7199; }
div.jqcloud.tagcloud span.w18 { color: #D06C94; }
div.jqcloud.tagcloud span.w19 { color: #D76790; }
div.jqcloud.tagcloud span.w20 { color: #DE628B; }