{% extends 'base.html' %}

{% block analytics %}
{{ super() }}
<script>
mixpanel.track("Page", {"Name": "{{AUTHOR}}", "page": "Not Found", "url": "{{output_file}}" });
</script>
{% endblock analytics %}

{% set header_class = "intro-header-article" %}
{% set header_bg = COVER_IMG %}
{% block header %}
    <div class="col-sm-10 col-sm-offset-2">
        <h1 class="article-heading">Post Not Found</h1>
    </div>
{% endblock header %}

{% set waypoint_selector = '.article-heading' %}
{% set fab_main_link = SITEURL + '/' %}
{% set fab_main_icon = 'keyboard_arrow_left' %}
{% set fab_main_icon_class = 'md-light' %}
{% set fab_main_icon_hover = 'home' %}
{% set fab_main_color = 'grey' %}
{% set fab_main_color_dark = 'blue' -%}
{% block fabtoggle %} {% endblock fabtoggle %}

{% block content %}
<div class="container">
    <div class="row">

            <div class="col-md-10 col-md-offset-2">
    The page you were looking for was not found. Do you want to try looking below instead?
            </div>

        {% for year, articles in dates|groupby( 'date.year' )|reverse %}
            <div class="col-md-10 col-md-offset-2">
            <h2>{{ year }}</h2>
            </div>
            <ul>
            {% for article in articles %}
            <div class="col-md-10 col-md-offset-2">
            <li><a href="{{SITEURL}}/{{ article.url }}">{{ article.title }}</a></li>
            </div>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>
{% endblock content %}


{% block jscripts %}
{{ super() }}
{% endblock jscripts %}
