{% extends 'base.html' %}

{% block analytics %}
{{ super() }}
<script>
    mixpanel.track("Page", {"Name": "{{ page.title }}", "url": "{{output_file}}"  }) ;
</script>
{% endblock analytics %}

{% block titletag %}
{{ page.title }} - {{ super() }}
{% endblock titletag %}

{% set header_class = "intro-header-page" %}
{% set header_bg = COVER_IMG %}
{% block header %}
<div class="pure-u-5-24 pure-u-md-5-24 pure-u-lg-5-24"></div>
<div class="pure-u-14-24 pure-u-md-14-24 pure-u-lg-14-24">
    <h1 class="article-heading">{{ page.title }}</h1>
    {%if page.subtitle %}
    <h2 class="article-subheading">{{ page.subtitle }}</h2>
    {% endif %}
</div>
{% endblock header %}

{% set waypoint_selector = '.article-heading' %}
{% set fab_main_link = SITEURL + '/' %}
{% set fab_main_label = 'Home' %}
{% set fab_main_icon = 'keyboard_arrow_left' %}
{% set fab_main_icon_class = 'md-light' %}
{% set fab_main_icon_hover = 'home' %}
{% set fab_main_color = 'blue' %}
{% set fab_main_color_dark = 'blue' -%}
{% block fabmenu %}
    <li>
        <a href='#search' class="page-scroll btn-floating grey" fab-label='Search'>
            <i class="material-icons">search</i>
        </a>
    </li>
{% endblock fabmenu %}
{% block fabtoggle %} {% endblock fabtoggle %}

<!-- Page Content -->
{% block content %}
<div class="pure-u-5-24 pure-u-md-5-24 pure-u-lg-5-24"></div>
<div class="pure-u-14-24 pure-u-md-14-24 pure-u-lg-14-24">
    <div class="entry-content">
        {{ page.content }}
    </div>
</div>
<hr>
{% endblock content %}