{% extends 'base.html' %}

{% block analytics %}
{{ super() }}
<script>
    mixpanel.track("Page", {"Name": "{{article.title}}", "url": "{{output_file}}"  });
</script>
{% endblock analytics %}

{% block meta %}
    {% if article.tags or article.category or article.keywords %}
    <meta name="keywords" content="{{ [article.tags|join(', '), article.category, article.keywords]|join(', ') }}" />
    {% endif %}
{% endblock %}

{% block description %}
    {% if article.summary %}
        <meta name="description" content="{{ article.summary|striptags|escape }}" />
    {% endif %}
{% endblock description %}

{% block titletag %}
{{ article.title }} - {{ super() }}
{% endblock titletag %}

{% set header_class = "intro-header-article" %}
{% set header_bg = article.post_bg %}
{% block header %}
<div class="pure-u-1">
    <h1 class="article-heading center-align">{{ article.title }}</h1>
    {%if article.subtitle %}
    <h2 class="article-subheading right-align">{{ article.subtitle }}</h2>
    {% endif %}
</div>

    <div class="article-meta-wrapper pure-u-1">
        <div class="article-meta">
            <div class="pure-u-5-24 pure-u-md-5-24 pure-u-lg-5-24"></div>
            <div class="pure-u-14-24 pure-u-md-14-24 pure-u-lg-14-24">
                {% include '_includes/last_updated.jinja.html' %}
            </div>
            <div class="pure-u-5-24 pure-u-md-5-24 pure-u-lg-5-24"></div>
            <div class="pure-u-14-24 pure-u-md-14-24 pure-u-lg-14-24">
                <div class="article-tags">
                    {% for tag in article.tags %}
                    <div class="chip">
                        <a href="{{- tag.url | absurl -}}">{{- tag.name -}}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock header %}

{% set waypoint_selector = '.article-heading' %}
{% set fab_main_link = 'blog' %}
{% set fab_main_label = 'Blog' %}
{% set fab_main_icon = 'keyboard_arrow_left' %}
{% set fab_main_icon_class = 'md-light' %}
{% set fab_main_icon_hover = 'description' %}
{% set fab_main_color = 'blue' %}
{% set fab_main_color_dark = 'blue' -%}
{% block fabmenu %}
    <li>
        <a href='#search' class="page-scroll btn-floating grey" fab-label='Search'>
            <i class="material-icons">search</i>
        </a>
    </li>
{% endblock fabmenu %}
{% block fabtoggle %} {% endblock fabtoggle %}

<!-- Article Content -->
{% block content %}
<div class="pure-u-5-24 pure-u-md-5-24 pure-u-lg-4-24"></div>
<div class="pure-u-14-24 pure-u-md-14-24 pure-u-lg-16-24">
    <article>
        <div class="entry-content">
            {{ article.content }}
        </div>
        {% include '_includes/comments.jinja.html' %}
    </article>
</div>
<hr>
{% endblock content %}