{% extends 'base.html' %}

{% block analytics %}
{{ super() }}
<script>
    mixpanel.track("Page", {"Name": "{{article.title}}", "url": "{{output_file}}"  });
</script>
{% endblock analytics %}

<!-- Navigation -->

{% block navbar_arrow %}
<a class="arrow-left custom-location-at-top" href="/blog"></a>
{% endblock navbar_arrow %}

{% block meta %}
    {% if article.tags or article.category or article.keywords %}
    <meta name="keywords" content="{{ [article.tags|join(', '), article.category, article.keywords]|join(', ') }}" />
    {% endif %}
{% endblock %}


    {% block description %}
    {% if article.summary %}
        <meta name="description" content="{{ article.summary|striptags|escape }}" />
    {% endif %}
    {% endblock description %}


{% block titletag %}
<title>{{article.title}} - {{SITE_TITLE_LABEL}}</title>
{% endblock titletag %}


{% set header_class = "intro-header-article" %}
{% set header_style = "background-image: url('{{ article.post_bg }}');" %}
{% block header %}
    <div class="col-sm-10 col-sm-offset-1">
        <h1 class="article-heading">{{ article.title }}</h1>
        {%if article.subtitle %}
        <h2 class="article-subheading">{{ article.subtitle }}</h2>
        {% endif %}
        {% include '_includes/last_updated.html' %}
    </div>
{% endblock header %}

{% block fab %}
    <a href='{{SITEURL}}/blog' class="btn-floating btn-large white page-scroll">
        <i class="md-dark material-icons">keyboard_arrow_left</i>
    </a>
{% endblock fab %}

<!-- Article Content -->
{% block content %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="entry-content">
                    {{ article.content }}
                    </div>
                    {% include '_includes/comments.html' %}
                </div>
            </div>
        </div>
    </article>
    <hr>
{% endblock content %}

{% set waypoint_selector = '.article-heading' %}
{% set fab_main_link = SITEURL + '/blog' %}
{% set fab_main_icon = 'keyboard_arrow_left' %}
{% block jscripts %}
{{super()}}
{% endblock jscripts %}