<!DOCTYPE html>
<html id="page-top"  lang="en">

{% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block description %}
    {% if SITE_DESCRIPTION %}
    <meta name="description" content="{{ SITE_DESCRIPTION }}" />
    {% endif %}
    {% endblock description %}

    {% if article and article.author %}
    <meta name="author" content="{{ article.author }}" />
    <meta name="copyright" content="{{ article.author }}" />
    {% elif page and page.author %}
    <meta name="author" content="{{ page.author }}" />
    <meta name="copyright" content="{{ page.author }}" />
    {% else %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="copyright" content="{{ AUTHOR }}" />
    {% endif %}

    {% if GOOGLE_PLUS_PROFILE_URL %}
    <link rel="author" href={{GOOGLE_PLUS_PROFILE_URL}} />
    {% endif %}

    {% if FEED_ATOM %}
    <link rel="alternate" type="application/atom+xml" href="{{- FEED_ATOM | absurl -}}" />
    {% endif %}

    {%if TWITTER_USERNAME %}
    <meta name="twitter:creator" content="@{{TWITTER_USERNAME}}">
    {% endif %}
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary">

    <title>
        {% block titletag %}{{SITE_TITLE_LABEL}}{% endblock titletag %}
    </title>

    {% block meta %}
    {% endblock meta %}

    <!-- Pure CSS Base and Grid-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker|Pacifico|Nova+Round|EB+Garamond|Kaushan+Script' rel='stylesheet' type='text/css'>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Tipue Search CSS for search box-->
    <link href="/theme/tipuesearch/tipuesearch.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/theme/css/pelican-smoothie.css" rel="stylesheet">
    <link href="/theme/css/fab.css" rel="stylesheet">
    <link href="/theme/css/markdown-foghorn.css" rel="stylesheet">
    <link href="/theme/css/pygment.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block analytics %}
    {% include '_includes/analytics.jinja.html' %}
    {% endblock analytics %}
</head>
{% endblock head %}

{% block body %}
<body data-spy="scroll" data-target=".navbar-fixed-top">

    {% block search %}
    <div class="search-button">
        <form id="search" class="floating-search"
              action="{{SITEURL}}/search.html"
              onsubmit="return validateForm(this.elements['q'].value);">
            <input type="search" class="search-query" placeholder="Search" name="q">
        </form>
    </div>
    {% endblock search %}

    {% set header_class = header_class|default('intro') -%}
    {% set header_bg = header_bg|default('') -%}

    {% set waypoint_selector = waypoint_selector|default('.brand-heading') -%}
    {% set fab_main_link = fab_main_link|default(SITEURL + '/blog') -%}
    {% set fab_main_label = fab_main_label|default('Blog') -%}
    {% set fab_main_icon = fab_main_icon|default('keyboard_arrow_left') -%}
    {% set fab_main_icon_class = fab_main_icon_class|default('md-dark') -%}
    {% set fab_main_icon_hover = fab_main_icon_hover|default(fab_main_icon) -%}
    {% set fab_main_color = fab_main_color|default('grey') -%}
    {% set fab_main_color_dark = fab_main_color_dark|default('blue') -%}
    <!--<div class="content-block">-->
    <div class="content-block">
        <header class="{{ header_class }} pure-g"
                {% if header_bg %}style="background-image: url('{{header_bg}}');"{% endif %}>
            {% block header %}
            {% endblock header%}
        </header>

        {% block navigation %}
        <!--
        <div class="ucw-nav">
            <nav>
                <div class="nav-wrapper blue lighten-1">
                    <ul class="left hide-on-med-and-down">
                        <li><a href="sass.html">Sass</a></li>
                        <li><a href="badges.html">Components</a></li>
                        <li><a href="collapsible.html">JavaScript</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        -->
        {% endblock navigation %}

        <div class="fixed-action-btn fab">
            <ul>
                {% block fabmenu %}
                {% endblock fabmenu %}
                <li id='fab_alt_main'>
                     <a href="{{- fab_main_link | absurl -}}" fab-label="{{ fab_main_label }}"
                        class="page-scroll btn-floating red">
                         <i class="material-icons">{{ fab_main_icon_hover }}</i>
                     </a>
                 </li>
            </ul>
            <a href='{{- fab_main_link | absurl -}}' fab-label='{{ fab_main_label }}'
               class="btn-floating btn-large {{ fab_main_color }} smooth-scroll">
                <i class="material-icons {{ fab_main_icon_class }}">{{ fab_main_icon }}</i>
            </a>
        </div>
        <main class="pure-g">
            {% block content %}
            {% endblock content %}
        </main>
    </div>

    {% block footer %}
    <!-- Footer -->
    <footer>
        <div id="footer" class="center-align">
            {{SITE_LICENSE}}
        </div>
    </footer>
    {% endblock footer %}

    {% block jscripts %}
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <!-- iPython Notebook script -->
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <script type="text/javascript">
        init_mathjax = function() {
            if (window.MathJax) {
                // MathJax loaded
                MathJax.Hub.Config({
                    tex2jax: {
                        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                        displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
                    },
                    displayAlign: 'left', // Change this to 'center' to center equations.
                    "HTML-CSS": {
                        styles: {'.MathJax_Display': {"margin": 0}}
                    }
                });
                MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
            }
        }
        init_mathjax();
    </script>

    <!-- iPython Notebook script for collapsing and expanding code -->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $("div.collapseheader").click(function () {
            $header = $(this).children("span").first();
            $codearea = $(this).children(".input_area");
            console.log($(this).children());
            $codearea.slideToggle(500, function () {
                $header.text(function () {
                    return $codearea.is(":visible") ? "Collapse Code" : "Expand Code";
                });
            });
        });
        });
    </script>

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript">
        // Pass Jinja template variables to js
        var ucw = ucw || {};
        ucw.waypoint_selector = '{{ waypoint_selector }}';
        ucw.fab_main_link = '{{ fab_main_link | absurl }}';
        ucw.fab_main_label = '{{ fab_main_label }}';
        ucw.fab_main_icon = '{{ fab_main_icon }}';
        ucw.fab_main_icon_class = '{{ fab_main_icon_class }}';
        ucw.fab_main_icon_hover = '{{ fab_main_icon_hover }}';
        ucw.fab_main_color = '{{ fab_main_color }}';
        ucw.fab_main_color_dark = '{{ fab_main_color_dark }}';
        ucw.fab_main_link = '{{ fab_main_link }}';
        ucw.fab_toggled_state = function(scrolled) {
            {% block fabtoggle %}
            $('.fixed-action-btn a.btn-large i').toggleClass('md-light', scrolled);
            $('.fixed-action-btn a.btn-large i').toggleClass('md-dark', !scrolled);
            {% endblock fabtoggle %}
        }
    </script>
    <script src="/theme/js/pelican-smoothie.js"></script>
    {% endblock jscripts %}

</body>
{% endblock body %}
</html>

