<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block description %}
    {% if SITE_DESCRIPTION %}
    <meta name="description" content="{{ SITE_DESCRIPTION }}" />
    {% endif %}
    {% endblock description %}

    {% if article and article.author %}
    <meta name="author" content="{{ article.author }}" />
    <meta name="copyright" content="{{ article.author }}" />
    {% elif page and page.author %}
    <meta name="author" content="{{ page.author }}" />
    <meta name="copyright" content="{{ page.author }}" />
    {% else %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="copyright" content="{{ AUTHOR }}" />
    {% endif %}

    {% if GOOGLE_PLUS_PROFILE_URL %}
    <link rel="author" href={{GOOGLE_PLUS_PROFILE_URL}} />
    {% endif %}

    {%if TWITTER_USERNAME %}
    <meta name="twitter:creator" content="@{{TWITTER_USERNAME}}">
    {% endif %}
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary">

    {% block titletag %}
    <title>{{SITE_TITLE_LABEL}}</title>
    {% endblock titletag %}

    <!-- iPython Notebook script -->
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" 
            type="text/javascript"></script>
    <script type="text/javascript">
        init_mathjax = function() {
            if (window.MathJax) {
                // MathJax loaded
                MathJax.Hub.Config({
                    tex2jax: {
                        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                        displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
                    },
                    displayAlign: 'left', // Change this to 'center' to center equations.
                    "HTML-CSS": {
                        styles: {'.MathJax_Display': {"margin": 0}}
                    }
                });
                MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
            }
        }
        init_mathjax();
    </script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- iPython Notebook script for collapsing and expanding code -->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $("div.collapseheader").click(function () {
            $header = $(this).children("span").first();
            $codearea = $(this).children(".input_area");
            console.log($(this).children());
            $codearea.slideToggle(500, function () {
                $header.text(function () {
                    return $codearea.is(":visible") ? "Collapse Code" : "Expand Code";
                });
            });
        });
        });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    <!-- Bootstrap Core CSS -->
    <link href="/theme/css/bootstrap.min.css" rel="stylesheet">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="/theme/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Pacifico|Nova+Round|EB+Garamond|Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <!-- Custom CSS -->
    <link href="/theme/css/pelican-smoothie.css" rel="stylesheet">
    <link href="/theme/css/pygment.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/tipuesearch/tipuesearch.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block analytics %}
    {% include '_includes/analytics.html' %}
    {% endblock analytics %}
</head>
{% endblock head %}

{% block body %}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% block search %}
    <div class="search-button">
        <form id="search" class="floating-search" action="{{SITE_URL}}/search.html" onsubmit="return validateForm(this.elements['q'].value);">
        <input type="search" class="search-query" placeholder="Search" name="q"></form>
    </div>
    {% endblock search %}

    {% set header_class = header_class|default('intro') -%}
    {% set header_bg = header_bg|default('') -%}

    {% set waypoint_selector = waypoint_selector|default('.brand-heading') -%}
    {% set fab_main_link = fab_main_link|default(SITEURL + '/blog') -%}
    {% set fab_main_icon = fab_main_icon|default('keyboard_arrow_left') -%}
    {% set fab_main_icon_class = fab_main_icon_class|default('md-dark') -%}
    {% set fab_main_icon_hover = fab_main_icon_hover|default(fab_main_icon) -%}
    {% set fab_main_color = fab_main_color|default('grey') -%}
    {% set fab_main_color_dark = fab_main_color_dark|default('blue') -%}
    <!--<div class="content-block">-->
    <div class="content-block">
        <header class="{{ header_class }}"
                {% if header_bg %}
                style="background-image: url('{{header_bg}}');"
                {% endif %}>
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        {% block header %}
                        {% endblock header%}
                        
                        <div class="col-sm-1 fixed-action-btn fab">
                            <ul>
                                {% block fabmenu %}
                                {% endblock fabmenu %}
                            </ul>
                            <a href='{{ fab_main_link }}'
                               class="btn-floating btn-large {{ fab_main_color }} page-scroll">
                                <i class="material-icons {{ fab_main_icon_class }}">{{ fab_main_icon }}</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% block navigation %}
            <div class="ucw-nav" style="position: relative; top: -64px;">
            <nav>
                <div class="nav-wrapper blue lighten-1">
                    <a href="#" class="brand-logo">Logo</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#"><i class="material-icons">search</i></a></li>
                        <li><a href="#"><i class="material-icons">info</i></a></li>
                        <li><a href="#"><i class="material-icons">menu</i></a></li>
                    </ul>
                </div>
            </nav>
            </div>
        {% endblock navigation %}
        {% block content %}
        {% endblock content %}
    </div>

    {% block footer %}
    <!-- Footer -->
    <footer>
        <div id="footer" class="container text-center">
            {{SITE_LICENSE}}
        </div>
    </footer>
    {% endblock footer %}

    {% block jscripts %}
    <!-- jQuery -->
    <script src="/theme/js/jquery.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/theme/js/jquery.easing.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/theme/js/bootstrap.min.js"></script>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/theme/js/pelican-smoothie.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.min.js"></script>

    <!-- Fixed Action Button JavaScript -->
    <script type="text/javascript" src="/theme/js/jquery.waypoints.min.js"></script>
    <script>
        var menuItem = $(document.createElement('li'))
                    .append($(document.createElement('a'))
                        .attr("href", "{{ fab_main_link }}")
                        .addClass('page-scroll btn-floating red')
                        .append($(document.createElement('i'))
                            .addClass('material-icons')
                            .text('{{ fab_main_icon_hover }}')
                        )
                    );
        new Waypoint({
            element: $("{{ waypoint_selector }}")[0],
            handler: function(direction) {
                var scrolled = (direction === 'down');
                if (scrolled) {
                    $(".fixed-action-btn ul").append(menuItem);

                    $(".fixed-action-btn a.btn-large").attr("href", "#page-top");
                    $('.fixed-action-btn .btn-large .material-icons')
                        .text('keyboard_arrow_up');
                } else {
                    menuItem.detach();
                    $(".fixed-action-btn a.btn-large").attr("href", "{{ fab_main_link }}");
                    $('.fixed-action-btn .btn-large .material-icons')
                        .text("{{ fab_main_icon }}");
                }
                $('.fixed-action-btn').toggleClass('scrolled', scrolled);
                $('.fixed-action-btn .btn-large').toggleClass('{{ fab_main_color_dark }}', scrolled);
                $('.fixed-action-btn .btn-large').toggleClass('{{ fab_main_color }}', !scrolled);
                {% block fabtoggle %}
                $('.fixed-action-btn a.btn-large i').toggleClass('md-light', scrolled);
                $('.fixed-action-btn a.btn-large i').toggleClass('md-dark', !scrolled);
                {% endblock fabtoggle %}
            }
        });
        $(".fixed-action-btn").hover(function() {
            $('.fixed-action-btn').not('.scrolled')
                .find('.btn-large .material-icons')
                .text('{{ fab_main_icon_hover }}');
        },
        function() {
            $('.fixed-action-btn').not('.scrolled')
                .find('.btn-large .material-icons')
                .text('{{ fab_main_icon }}');
        });

        new Waypoint({
            element: $('.ucw-nav'),
            handler: function(direction) {
                var shouldBeStuck = direction === "down";
                var wrapperHeight = shouldBeStuck ?
                    $('.ucw-nav nav').outerHeight(true)
                    : '';

                $('.ucw-nav').height(wrapperHeight);
                $('.ucw-nav').toggleClass('navbar-fixed', shouldBeStuck);
            }
        });
    </script>
    {% endblock jscripts %}

</body>
{% endblock body %}
</html>

