{% extends 'base.html' %}

{% block analytics %}
{{ super() }}
<script>
    mixpanel.track("Page", {"Name": "Blog", "url": "{{output_file}}" }) ;
</script>
{% endblock analytics %}

{% set header_class = "intro-header-page" %}
{% set header_bg = COVER_IMG %}
{% block header %}
<div class="pure-u-5-24 pure-u-md-5-24 pure-u-lg-5-24"></div>
<div class="pure-u-14-24 pure-u-md-14-24 pure-u-lg-14-24">
    <h1 class="article-heading">Blog</h1>
</div>
{% endblock header %}

{% set waypoint_selector = '.article-heading' %}
{% set fab_main_link = SITEURL + '/' %}
{% set fab_main_label = 'Home' %}
{% set fab_main_icon = 'keyboard_arrow_left' %}
{% set fab_main_icon_class = 'md-light' %}
{% set fab_main_icon_hover = 'home' %}
{% set fab_main_color = 'blue' %}
{% set fab_main_color_dark = 'blue' -%}
{% block fabmenu %}
    <li>
        <a href='#search' class="page-scroll btn-floating grey" fab-label='Search'>
            <i class="material-icons">search</i>
        </a>
    </li>
    <li>
        <a href='/archives.html' class="page-scroll btn-floating green" fab-label='Archives'>
            <i class="material-icons">storage</i>
        </a>
    </li>
{% endblock fabmenu %}
{% block fabtoggle %} {% endblock fabtoggle %}

{% block navigation %}
<div class="ucw-nav" style="position: relative; top: -64px;">
    <nav>
        <div class="nav-wrapper blue lighten-1">
            <div class="">
               <a href="#!" class="breadcrumb">First</a>
               <a href="#!" class="breadcrumb">Second</a>
               <a href="#!" class="breadcrumb">Third</a> 
            </div>
        </div>
    </nav>
</div>
{% endblock navigation %}

{% block content %}
    <div class="pure-u-1-6 pure-u-md-1-4 pure-u-lg-5-24"></div>
    <div class="pure-u-2-3 pure-u-md-1-2 pure-u-lg-14-24">
        {% for article in dates %}
            <div class="post-preview">
                    <a class="blog-index-title" href="{{ SITEURL }}/{{ article.url }}">
                        <h2 class="post-title">{{ article.title }}</h2>
                        {%if article.subtitle %}
                            <h3 class="post-subtitle">{{ article.subtitle }}</h3>
                        {% endif %}
                    </a>
                    <p class="post-meta">
                        Posted on
                        <time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">
                            {{ article.locale_date }}
                        </time>
                    </p>
            </div>
            <div class="entry-content">{{ article.summary }}</div>
            <a rel="full-article" href="{{ SITEURL }}/{{ article.url }}"
               class="waves-effect waves-light btn btn-default">
                <i class="material-icons right"></i>Read On
            </a>
        {% endfor %}
   </div>
{% endblock content %}