{% extends 'base.html' %}

{% block analytics %}
{{ super() }}
<script>
    mixpanel.track("Page", {"Name": "Home Page", "url": "{{output_file}}"  }) ;
</script>
{% endblock analytics %}

{% set header_class = "intro" %}
{% set header_bg = COVER_IMG %}
{% block header %}
<div class="pure-u-1-4 pure-u-md-1-4 pure-u-lg-1-4"></div>
<div class="pure-u-1-2 pure-u-md-1-2 pure-u-lg-1-2 center-align">
    <div class="avatarBox">
        <img src="{{AVATAR_IMG}}">
    </div>
    <div class="">
        <h1 class="brand-heading">{{SITE_TITLE_LABEL}}</h1>
        <p class="intro-text">{{SITE_SUBTITLE_LABEL}}</p>
    </div>
</div>
{% endblock header%}

{% set waypoint_selector = '.avatarBox' %}
{% set fab_main_link = 'blog' %}
{% set fab_main_label = 'Blog' %}
{% set fab_main_icon = 'menu' %}
{% set fab_main_icon_class = 'md-dark' %}
{% set fab_main_icon_hover = 'description' %}
{% set fab_main_color = 'white' %}
{% set fab_main_color_dark = 'blue' %}
{% block fabmenu %}
    <li>
        <a href='#search' class="smooth-scroll btn-floating grey" fab-label='Search'>
            <i class="material-icons">search</i>
        </a>
    </li>
    <li>
        <a href='#about' class="smooth-scroll btn-floating yellow darken-1" fab-label='About Me'>
            <i class="material-icons">info_outline</i>
        </a>
    </li>
    <li>
        <a href='#contact' class="smooth-scroll btn-floating green" fab-label='Contact Me'>
            <i class="material-icons">forum</i>
        </a>
    </li>
{% endblock fabmenu %}

{% block navigation %}
{% endblock navigation%}

{% block content %}
<div class="pure-u-5-24 pure-u-md-5-24 pure-u-lg-5-24"></div>
<div class="pure-u-14-24 pure-u-md-14-24 pure-u-lg-14-24">
    {% block about %}
    <!-- About Section -->
    <section id="about" class="content-section text-center" href="#">
        <h2 class="center-align">About Me</h2>
        {{LANDING_PAGE_ABOUT['details']}}
    </section>
    {% endblock about %}

    {% block contact %}
    <!-- Contact Section -->
    <section id="contact" class="content-section" href="#">
        {% include '_includes/social_links.jinja.html' %}
    </section>
    {% endblock contact %}
</div>
{% endblock content %}