{% extends 'base.html' %}

{% block analytics %}
{{ super() }}
<script>
    mixpanel.track("Page", {"Name": "Home Page", "url": "{{output_file}}"  }) ;
</script>
{% endblock analytics %}

{% set header_class = "intro" %}
{% set header_style = "background-image: url('{{COVER_IMG}}');" %}
{% block header %}
    <div class="avatarBox col-sm-12">
        <img src="{{AVATAR_IMG}}">
    </div>
    <div class="col-sm-12">
        <h1 class="brand-heading">{{SITE_TITLE_LABEL}}</h1>
        <p class="intro-text">{{SITE_SUBTITLE_LABEL}}</p>
    </div>
{% endblock header%}

{% block fab %}
    <ul>
        <li>
            <a href='#search' class="page-scroll btn-floating customcolor">
                <i class="material-icons">search</i>
            </a>
        </li>
        <li>
            <a href='#about' class="page-scroll btn-floating customcolor">
                <i class="material-icons">info_outline</i>
            </a>
        </li>
        <li>
            <a href='#contact' class="page-scroll btn-floating customcolor">
                <i class="material-icons">textsms</i>
            </a>
        </li>
    </ul>
    <a href='{{SITEURL}}/blog' class="btn-floating btn-large white page-scroll">
        <i class="material-icons md-dark">description</i>
    </a>
{% endblock fab %}

{% block navbar_links%}
{% endblock navbar_links%}

{% block content %}

    {% block about %}
    <!-- About Section -->
    <section id="about" class="container content-section text-center" href="#">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>About Me</h2>
                {{LANDING_PAGE_ABOUT['details']}}
            </div>
        </div>
    </section>
    {% endblock about %}

    {% block contact %}
    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center" href="#">
        {% include '_includes/social_links.html' %}
    </section>
    {% endblock contact %}

{% endblock content %}

{% set waypoint_selector = '.brand-heading' %}
{% set fab_main_link = SITEURL + '/blog' %}
{% set fab_main_icon = 'description' %}
{% block jscripts %}
{{ super() }}

<script>
    var oldMainText;
    $(".fixed-action-btn").hover(function() {
        oldMainText = $('.fixed-action-btn')
            .not('.scrolled')
            .find('.btn-large .material-icons')
            .text();
        $('.fixed-action-btn')
            .not('.scrolled')
            .find('.btn-large .material-icons')
            .text('description');
    },
    function() {
        $('.fixed-action-btn')
            .not('.scrolled')
            .find('.btn-large .material-icons')
            .text(oldMainText);
    });
</script>
{% endblock jscripts %}
