{% extends 'base.html' %}

{% block analytics %}
{{ super() }}
<script>
    mixpanel.track("Page", {"Name": "{{ page.title }}", "url": "{{output_file}}"  }) ;
</script>
{% endblock analytics %}

{% set header_class = "intro-header-article" %}
{% set header_style = "background-image: url('{{COVER_IMG}}');" %}
{% block header %}
    <div class="col-sm-10 col-sm-offset-2">
        <h1 class="article-heading">{{ page.title }}</h1>
        {%if page.subtitle %}
        <h2 class="article-subheading">{{ page.subtitle }}</h2>
        {% endif %}
    </div>
{% endblock header %}

{% block fab %}
    <a href='{{SITEURL}}/blog' class="btn-floating btn-large white page-scroll">
        <i class="md-dark material-icons">keyboard_arrow_left</i>
    </a>
{% endblock fab %}

<!-- Page Content -->
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="entry-content">
                    {{ page.content }}
                </div>
                {% include '_includes/comments.html' %}
            </div>
        </div>
    </div>
    <hr>
{% endblock content %}

{% set waypoint_selector = '.article-heading' %}
{% set back_link = SITEURL + '/blog' %}
{% set keyboard_arrow_direction = 'keyboard_arrow_left' %}
{% block jscripts %}
{{super()}}
{% endblock jscripts %}