{% extends 'base.html' %}

{% block analytics %}
{{ super() }}
<script>
mixpanel.track("Page", {"Name": "{{AUTHOR}}", "page": "Period Archives", "url": "{{output_file}}" });
</script>
{% endblock analytics %}

{% set header_class = "intro-header-page" %}
{% set header_bg = COVER_IMG %}
{% block header %}
<div class="pure-u-5-24 pure-u-md-5-24 pure-u-lg-5-24"></div>
<div class="pure-u-14-24 pure-u-md-14-24 pure-u-lg-14-24">
    {% if period|length == 3 %}
        <h1 class="article-heading">Archives for {{ period | periodfmt('%Y-%m-%d') }}</h1>
    {% elif period|length == 2 %}
        <h1 class="article-heading">Archives for {{ period | periodfmt('%Y-%m') }}</h1>
    {% else %}
        <h1 class="article-heading">Archives for {{ period | periodfmt('%Y') }}</h1>
    {% endif%}
</div>
{% endblock header %}

{% set waypoint_selector = '.article-heading' %}
{% set fab_main_link = SITEURL + '/blog' %}
{% set fab_main_label = 'Blog' %}
{% set fab_main_icon = 'keyboard_arrow_left' %}
{% set fab_main_icon_class = 'md-light' %}
{% set fab_main_icon_hover = 'description' %}
{% set fab_main_color = 'blue' %}
{% set fab_main_color_dark = 'blue' -%}
{% block fabmenu %}
    <li>
        <a href='#search' class="page-scroll btn-floating grey" fab-label='Search'>
            <i class="material-icons">search</i>
        </a>
    </li>
{% endblock fabmenu %}
{% block fabtoggle %} {% endblock fabtoggle %}

{% block content %}
<div class="pure-u-1-6 pure-u-md-1-4 pure-u-lg-5-24"></div>
<div class="pure-u-2-3 pure-u-md-1-2 pure-u-lg-14-24">
    {% if period|length == 3 %}
        {% include '_includes/per_day_list.html' %}
    {% elif period|length == 2 %}
        {% include '_includes/per_month_list.html' %}
    {% else %}
        {% include '_includes/per_year_list.html' %}
    {% endif%}
</div>
{% endblock content %}