{% extends 'base.html' %}

{% block meta %}
<!-- Optional Open Sans font -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

<link href="/theme/tipuesearch/tipuesearch.css" rel="stylesheet">

<script src="/theme/tipuesearch/tipuesearch_content.js"></script>
<script src="/theme/tipuesearch/tipuesearch_set.js"></script>
<script src="/theme/tipuesearch/tipuesearch.min.js"></script>
{% endblock meta %}

{% block titletag %}
Search - {{- super() -}}
{% endblock titletag %}

{% set header_class = "intro-header-article" %}
{% set header_bg = COVER_IMG %}
{% block header %}
<div class="pure-u-5-24 pure-u-md-5-24 pure-u-lg-5-24"></div>
<div class="pure-u-14-24 pure-u-md-14-24 pure-u-lg-14-24">
    <h1 class="article-heading">A Search</h1>
</div>
{% endblock header %}

{% set waypoint_selector = '.article-heading' %}
{% set fab_main_link = SITEURL + '/' %}
{% set fab_main_icon = 'keyboard_arrow_left' %}
{% set fab_main_icon_class = 'md-light' %}
{% set fab_main_icon_hover = 'home' %}
{% set fab_main_color = 'grey' %}
{% set fab_main_color_dark = 'blue' -%}
{% block fabtoggle %} {% endblock fabtoggle %}

{% block content %}
<div class="pure-u-5-24 pure-u-md-5-24 pure-u-lg-5-24"></div>
<div class="pure-u-14-24 pure-u-md-14-24 pure-u-lg-14-24">
    <div class="entry-content">
        <div class="search-button">
            <form id="search" class="floating-search"
                  action="{{SITEURL}}/search.html"
                  onsubmit="return validateForm(this.elements['q'].value);">
                <input id="tipue_search_input" type="search" class="search-query" placeholder="Search" name="q">
            </form>
        </div>
        <div id="tipue_search_content"></div>
    </div>
</div>
<hr>

<script>
    $(document).ready(function() {
        $('#tipue_search_input').tipuesearch();
    });
</script>
{% endblock content %}

<!--
            {% for article in dates %}
            <div class="post-preview">
                    <a class="blog-index-title" href="{{ SITEURL }}/{{ article.url }}"><h1 class="post-title">{{ article.title }}</h2>
                    {%if article.subtitle %} <h2 class="post-subtitle">{{ article.subtitle }} </h3>{% endif %} </a>
                    <p class="post-meta">Posted on <time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></p>
                </div>
              <div class="entry-content">{{ article.summary }}</div>
                <a rel="full-article" href="{{ SITEURL }}/{{ article.url }}" class="waves-effect waves-light btn btn-default"><i class="material-icons right"></i>Read On</a>
            {% endfor %}
           </div>
        </div>
    </div>


-->