{% extends 'base.html' %}

{% block meta %}
<!-- Optional Open Sans font -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

<link href="/theme/tipuesearch/tipuesearch.css" rel="stylesheet">
{% endblock meta %}

{% block titletag %}
Search - {{ super() -}}
{% endblock titletag %}

{% set header_class = "intro-header-page" %}
{% set header_bg = COVER_IMG %}
{% block header %}
<div class="pure-u-5-24 pure-u-md-5-24 pure-u-lg-5-24"></div>
<div class="pure-u-14-24 pure-u-md-14-24 pure-u-lg-14-24">
    <h1 class="article-heading">A Search</h1>
</div>
{% endblock header %}

{% set waypoint_selector = '.article-heading' %}
{% set fab_main_link = '' %}
{% set fab_main_label = 'Home' %}
{% set fab_main_icon = 'keyboard_arrow_left' %}
{% set fab_main_icon_class = 'md-light' %}
{% set fab_main_icon_hover = 'home' %}
{% set fab_main_color = 'blue' %}
{% set fab_main_color_dark = 'blue' -%}
{% block fabtoggle %} {% endblock fabtoggle %}

{% block content %}
<div class="pure-u-5-24 pure-u-md-5-24 pure-u-lg-5-24"></div>
<div class="pure-u-14-24 pure-u-md-14-24 pure-u-lg-14-24">
    <div class="block-search card">
        <form action="{{SITEURL}}/search.html"
              onsubmit="return validateForm(this.elements['q'].value);">
            <input id="tipue_search_input" class="block-search-query"
                   type="search" name="q" autocomplete=off
                   placeholder="Search">
            <i class="material-icons">search</i>
        </form>
    </div>
    <div id="tipue_search_content">
        <div class="center-align">
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock content %}

{% block jscripts %}
{{ super() }}
<!-- Tipue Search scripts -->
<script src="/theme/tipuesearch/tipuesearch_set.js"></script>
<script src="/theme/tipuesearch/tipuesearch.custom.js"></script>
<script>
    $(document).ready(function() {
        $('#tipue_search_input').tipuesearch({
            showTitleCount: false,
            mode: 'json',
            contentLocation: '{{- SITEURL -}}/tipuesearch_content.json'
        });
    });
</script>
{% endblock jscripts %}